<div class="blurb">
  <div class="headline">
    <a href="/about">
      <img class="mugshot" src="img/mugshot_256.png" alt="Picture of Author in front of current Employer's sign"/>
      <p class="name">Daniel J Scheufler</p>
    </a>
    <p class="slug">Christian, Husband, Father, Software Engineer</p>
  </div>
  <div class="blurb-desc">
    <p>	
      I am a Senior Consultant with Improving Houston. I have developed software for Oil and Gas, Tele-medicine and recently ECommerce clients. I work mostly in C#, but have recently added React and NodeJS to my toolbelt.
      Of late, I have begun to focus on the communication aspects of my work. It is a common gag in Industry that Developers don’t speak the same language as ‘normals’. I intend to bridge that gap.
    </p>
    <p>
      In an effort to capture my experience, and to help others I write a blog with interesting discussions on development as a practice, as well as some nutz-and-bolts topics. Additionally I am developing talks on White-boarding, a feared Interview practice, which I happen to enjoy.      If you are interested I can be reach on LinkedIn, Github, or via email for speaking engagements, hackathons, pro bono work for nonprofits, or Lunch-and-Learns.
    </p>
  </div>
  <hr/>
</div>