<div class="attributions">
  <% if (page["used-hotpot"]) { %>    
    <blockquote> 
      <p>Image generated with <a href="https://hotpot.ai/art-generator">Hotpot AI Image Generation</a></p>
    </blockquote>
  <% } %>
</div>