<div class="sidebar-col">
    <div class="sidebar-top">
        <div class="sidebar-title">
            About the Author
        </div>
        <div class="sidebar-content">
            <p><strong>Daniel Scheufler</strong> is a Principal Consultant at Improving with experience in ECommerce, TeleMedicine, and of course Oil and Gas. As an Electrical Engineer turned Software Developer, He prides himself on highly disciplined development leading to more effective products and processes. He is a problem-solver at heart and leverages this strength in applying industrial theory to the challenges of software development. Among the key challenges facing development is the communication gap.</p>
            <p>So Daniel has taken to blogging, public speaking, and consulting to help bridge the gap and demystify the technology our world depends on. When not engaged in tackling the gap, or coding, you'll find Daniel playing with his <span class="strikethrough">three</span> five children, reading, or tinkering whether in the woodshop or in a computer.</p>
            <a href="/about">Click here to learn more →</a>
        </div>
        <div class="sidebar-social">
            <%- partial('_partial/social') %>
        </div>  
    </div>
    <div class="sidebar-bottom">
        <div class="sidebar-title">
            Read Next
        </div>
<!--Last Updated 20241222 -->        
        <div class="sidebar-content">
            <a href="/2024/05/07/points-are-cost/" target="_blank">
                <p>
                    <b>Story Points are Cost!</b>
                </p>
            </a>
            <a href="/2023/11/07/vernacular-software-architecture/" target="_blank">
                <p>
                    <b>Vernacular Software Architecture</b>
                </p>
            </a>
            <a href="/2021/12/08/behaviors-build-culture/" target="_blank">
                <p>
                    <b>Behaviors Build Culture</b>
                </p>
            </a>
        </div>
    </div>        
</div>