<div class="sidebar-col">
    <div class="sidebar-top">
        <%- partial('_partial/sidebar-newsletter') %> 
    </div>
    <div class="sidebar-bottom">
        <div class="sidebar-title">
            Read Next
        </div>
<!--Last Updated 20241222 -->        
        <div class="sidebar-content">
            <a href="/blog/points-are-cost/" target="_blank">
                <p>
                    <b>Story Points are Cost!</b>
                </p>
            </a>
            <a href="/blog/vernacular-software-architecture/" target="_blank">
                <p>
                    <b>Vernacular Software Architecture</b>
                </p>
            </a>
            <a href="/blog/behaviors-build-culture/" target="_blank">
                <p>
                    <b>Behaviors Build Culture</b>
                </p>
            </a>
        </div>
    </div>        
</div>