.post-box {
  margin-bottom: 15px;
  .odd {
    position: relative;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
  }
  .post_title {
    flex: 3;
    flex-grow: 1;
    font-size: 20px;
    line-height: 165%;
    a {
        color: #000;
        font-weight: 700;
        text-decoration: none;
      }
    &:hover {
        opacity: 0.7;
      }
  }
  
  .thumb-slot {
    margin-right: 20px;
  }

  .post-thumbnail {
    transition: opacity 0.7s;
    display: block;
    &:hover {
      opacity: 0.7;
    }
    width: 100px;
    max-width: none;
    max-height: 100px;

  }


}
 