.sidebar-col {
    flex-basis:0;
    flex-grow: 1;
    padding-left: 3vw;
    display:flex;
    flex-direction: column;
    padding-top: $header-height;
    padding-bottom: $header-height;

    .sidebar-top {
        flex:6;
    }

    .sidebar-bottom {
        flex-grow:1;
        padding-bottom: 3vw;
    }

    .sidebar-title {
        font-weight: bold;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid $fg-color;
        padding-bottom: $half-gap;
        color: $bg-second-darker;
    }

    .sidebar-content {

    }

    .sidebar-social {
        padding-bottom: $gap;
    }
}