#comment #ds-thread #ds-reset a.ds-like-thread-button {
  background-color: $off-white;
  background-image: none;
}
#comment #ds-reset .ds-gradient-bg {
  background: none;
}
#comment #ds-thread #ds-reset .ds-powered-by {
  display: none;
}
