<div class="site-content home">
  <main class="content-area">
      <div class="row">
        <%- partial('_partial/blurb') %>
        <%- partial('_partial/post-list') %>
      </div>
      <%- partial('_partial/newsletter') %>
  </main>
</div>