.archive {
	padding-bottom: 60px;
	.container {
		display: flex;
		flex-direction: column;
	}
	h2.year {
		color: #lib.colors[@fg-color];
	}
	ul.list {
		padding-left: 50px;
		li {
			line-height: 1.5;
			padding: 10px 0;
		}
	}
	.date {
		color: #lib.colors[@bg-darker];
		margin-right: 30px;
	}
}