#lib() {
    .colors() {
     @bg-color: #E9E9ED;
     @bg-lighter: #FBFAFA;
     @bg-second: @bg-lighter;
     @bg-darker: #BCBCC8;
     @bg-second-darker: @bg-darker;

     @fg-color: #2A2828;

     @primary: #0D446D;
     @primary-lighter:#34688F;
     @primary-darker:#053459;
     
     @secondary: #A9370A;
     @secondary-lighter: #DF7246;
     @secondary-darker: #8A2700;

     @terceary: #077445;
     @terceary-lighter: #30996C;
     @terceary-darker: #005F36;
 
     @accent: #A9650A;
     @accent-lighter: #DF9E46;
     @accent-darker: #8A4F00;

     @links: @primary-lighter;
     @visited-links: @fg-color;
     @hover-links: @secondary-lighter;

     @color-title: @fg-color;
     @color-text: @fg-color;
     @grey-border: @bg-darker;

     @error: @secondary-darker;
    }
  
  .lengths(){
    @header-height: 70px;
    @nav-padding-top: 25px;
    @container-width: 600px;
    @inside-wrapper-width: 920px;
    @icon-size: 20px;
    @gap: 2em;
    @half-gap: 1em;
    @padding: 5vw;
  }

  .fonts(){
    @title-font: Garamond;
    @heading-font: Garamond;
    @body-font: Roboto;
    @cta-font: Baskerville;

    @link-font: Roboto;

    @code-font: 'Roboto Mono';
  }
}