<% if (!page.prev) {%>
<div class="blurb-col">
  <div class="blurb">
    <div class="headline">
      <a href="/about">
        <img class="mugshot" src="/img/page_img/mugshot_256.png" alt="Picture of Author in front of current Employer's sign"/>
        <p class="name">Daniel J Scheufler</p>
      </a>
      <p class="slug">Christian, Husband, Father, Software Engineer</p>
    </div>
    <div class="blurb-desc">
      <p>
      Hello there! My name is Daniel Scheufler. I am a Principal Consultant with Improving Houston where I have developed software for oil and gas, telemedicine, eCommerce, and legal clients. I work mostly in the .NET Stack with React/Typescript but continue to add new languages and frameworks to my toolbelt. Of late, I have honed my focus on the communication aspects of my work. It is a common gag in Industry that Developers don’t speak the same language as ‘normals’ and I intend to bridge that gap.
      </p>
      <p>
      In an effort to capture my experience, and to help others, I write a blog with interesting discussions on development as a practice, as well as some nuts-and-bolts topics. I have been developing numerous community talks on a variety of topics, naturally including Effective Communication and Effective Meeting Facilitation. Want to get to know me better? Reach out to me on <a href="https://www.linkedin.com/in/danielscheufler/">LinkedIn</a>, <a href="https://github.com/djscheuf/">Github</a>, <a href="https://anchor.fm/journeymans-travels">check out my podcast</a>, or <a href="mailto:daniel@scheufler.io">via email</a>. We can discuss lunch and learns, writing opportunities, pro bono work for nonprofits, or general questions.
      </p>
     </div>
     <div class="ml-embedded" data-form="oKfrzS"></div>
  </div>
</div>
<% } %>
