<% if (true) {%>
<!-- TODO ONLY show Blurb on first Page! -->
<div class="blurb-col">
  <div class="blurb">
    <div class="headline">
      <a href="/about">
        <img class="mugshot" src="/img/page_img/mugshot_256.png" alt="Picture of Author in front of current Employer's sign"/>
        <p class="name">Daniel J Scheufler</p>
      </a>
      <p class="slug">Christian, Husband, Father, Software Engineer</p>
    </div>
    <div class="blurb-desc">
      <p>	
        I am a Principal Consultant with Improving Houston. I have developed software for Oil and Gas, Tele-medicine, ECommerce and Legal clients. I work mostly in the .NET Stack with React/Typescript, but continue to add new languages, and frameworks to my toolbelt.
        Of late, I have honed my focus on the communication aspects of my work. It is a common gag in Industry that Developers don’t speak the same language as ‘normals’. I intend to bridge that gap.
      </p>
      <p>
        In an effort to capture my experience, and to help others I write a blog with interesting discussions on development as a practice, as well as some nutz-and-bolts topics. I have been developing numerous community talks on a variety of topics, naturally including Effective Communication, and Effective Meeting Facilitation. 
        If you are interested I can be reach on <a href="https://www.linkedin.com/in/danielscheufler/">LinkedIn</a>, <a href="https://github.com/djscheuf">Github</a>, or <a href="mailto:daniel@scheufler.io">via email</a> for Lunch and Learns, writing opportunities, pro bono work for nonprofits, or even if you just have questions.
      </p>
    </div>
  </div>
</div>
<% } %>
