<div class="sidebar">
    <div class="sidebar-title">
        About the Author
    </div>
    <div class="sidebar-content">
        <p><strong>Daniel Scheufler</strong> writes about ...</p>
        <p><a href="/about">Click here to learn more →</a></p>
    </div>
    <div class="sidebar-social">
    TODO - Social Links
    </div>          
    <div class="read-next">

    </div>
</div>